h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }

 h2 { 
    color: brown;
    background-color: rgb(208, 125, 250);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
body { 
    background-color: rgb(250, 188, 152);
}

table {
    border-collapse: collapse; 
    width: 80%; 
    margin: 20px auto; 
}

th, td {
    text-align: center; 
}

img {
     display: block;
     margin: 0 auto;

}

